<h1>Links</h1>
<a class="leftMenu" href="welcome" title="">Welcome</a><br />
<a class="leftMenu" href="edit_profile" title="">Edit Profile</a><br />
<a class="leftMenu" href="browse_users" title="">Browse Users</a><br />
<a class="leftMenu" href="signup" title="">Signup Form</a><br />
<a class="leftMenu" href="login" title="">Login</a><br />
<a class="leftMenu" href="logout" title="">Logout</a><br />
<a class="leftMenu" href="maintenance" title="">Account Management</a><br />
<a class="leftMenu" href="messages" title="">Messages</a><br />
<br>
<h1>Misc</h1>
<a class="leftMenu" href="get_env" title="">Get ENV</a><br />
<a class="leftMenu" href="get_cookies" title="">Get Cookies</a><br />
