<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Engcupid</title>

	<link rel="stylesheet" type="text/css" href="http://cgi.cse.unsw.edu.au/~cweb382/asst2/css/style.css" />
</head>

<body>
	<div id="page-wrap">
		<div id="inside">

			<div id="header">
				<a href="#"><img src="http://cgi.cse.unsw.edu.au/~cweb382/asst2/css/images/engcupidheader.png" alt="header" /></a>
			</div>

			<div id="left-sidebar">
<TMPL_VAR NAME=LINKS>
			</div>

			<div id="main-content">
<TMPL_VAR NAME=MAIN_CONTENT>
			</div>

			<div style="clear: both;"></div>
			<br><br>
			<div id="footer">
				<p>Footer Stuff.</p>
			</div>

		</div>

		<div style="clear: both;"></div>

	</div>

</body>

</html>
